@import url(https://fonts.googleapis.com/css?family=Poppins:regular,500,700);
@import url(https://fonts.googleapis.com/css?family=DM+Sans:regular,500,700);

.icon-menu {
  color: #fff;
  font-size: 40px;
  display: none;
}
.menu-burger {
  display: none;
}
#menuCheckbox {
  display: none;
}

.main {
  background: #171718;
  min-height: 65px;
  color: #fff;
}
.nav__hamburger {
  display: none;
}
.container {
  max-width: 1170px;
  margin-inline: auto;
}
.header {
  border-bottom: 1px solid #26292d;
}
.nav {
  display: flex;
  justify-content: space-between;
  background-color: #171718;
  color: #fff;
  padding: 20px;
}
.nav__logo {
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  transition: transform 0.4s ease-in-out;
}

.nav__logo:hover {
  transform: scale(1.1);
  text-shadow: 2px 2px 4px rgba(172, 171, 171, 0.4);
}

.nav_logo_size {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 400;
}
.nav__ul {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav__a {
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  position: relative;
}
.nav__a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: #5c62ec;
  transform: scaleX(0);
  transition: 0.2s all ease-in;
}
.nav__a:hover::after {
  transform: scalex(1);
}

.skill__skills {
  min-height: 814px;
  max-width: 571px;
  margin-inline: auto;
  text-align: center;
}

.skill__title {
  color: #5c62ec;
  font-family: DM Sans;
  text-align: center;
  font-size: 60px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -0.5px;
  margin-top: 70px;
}
.skill__name {
  color: #171718;
  font-family: DM Sans;
  font-size: 40px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -0.5px;
  margin-top: 40px;
}
.skill__decr {
  color: #171718;
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.5px;
  margin-top: 20px;
}
.decr_height {
  margin-bottom: 362px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  background: #171718;
  text-align: center;
}
.footer_container {
  max-width: 314px;
}

.footer__social {
  color: #d9d9d9;
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 38px;
}
.footer__social i {
  color: #fff;
}
.footer__copyright {
  margin-top: 20px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

.fa-twitch:hover {
  color: rgb(116, 20, 200);
}

.fa-x-twitter:hover {
  color: deepskyblue;
}

.fa-instagram:hover {
  color: rgb(255, 5, 147);
}
.fa-github:hover {
  color: rgb(130, 130, 130);
}
.fa-linkedin:hover {
  color: rgb(0, 123, 194);
}

@media screen and (max-width: 992px) {
  .skill__title {
    font-size: 58px;
  }
  .skill__name {
    font-size: 39px;
  }
  .skill__decr {
    font-size: 16px;
  }
}

@media screen and (max-width: 576px) {
  .skill__title {
    font-size: 55px;
  }
  .skill__name {
    font-size: 36px;
  }

  .menu-burger {
    display: flex;
  }
  .icon-menu {
    display: inline-block;
  }

  .nav__ul {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    flex-direction: column;
    padding: 60px;
    background: #333;
    transform: translateX(-110%);
    transition: 0.2s all ease-in-out;
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
  }

  #menuCheckbox:checked ~ .nav__ul {
    transform: translateX(0);
    visibility: initial;
    pointer-events: initial;
    opacity: 0.9;
  }
}
